<nav>
    <div class="site-title">
      <a href=""><h1>Evden Eğitim</h1></a>
    </div>
    <ul>
      <li><a href="/">Dersler</a></li>
      <li><a href="/about">Hakkımda</a></li>
      <li><a href="/lesson/add">Ders Ekle</a></li>
    </ul>
  </nav>