<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
    <title>Document</title>
</head>
<body>
    <%- include('./partials/nav.ejs')%>
    <h1><%=about%></h1>
    <p>Selamlar ben Ertuğrul</p>
</body>
</html>